.form-group {
    margin-bottom: 0.5rem;
}

.form-control:focus {
    box-shadow: none;
}

button {
    margin-top: 1.3rem;
    margin-bottom: 1.3rem;
}

a {
    color: lightblue;
}
a:hover {
    color: lightcoral;
    text-decoration: none;
}
