.form-group {
    margin-bottom: 0.5rem;
}

.form-control:focus {
    box-shadow: none;
}

button {
    margin-top: 1.3rem;
    margin-bottom: 1.3rem;
}

a:hover {
    color: #fff;
    text-decoration: none;
}
